/* static/clients/datatable_theme.css */ 

/* Estilos de cuadrícula para DataTables personalizados */
table.dataTable {
    border-collapse: collapse !important;
}
table.dataTable th, table.dataTable td {
    border: 1px solid #bdbdbd !important;
    background-color: #fff;
}
table.dataTable thead th {
    background-color: #f5f5f5;
}
table.dataTable tr {
    border-bottom: 1px solid #bdbdbd !important;
}
